---
layout: layout.njk
title: Common
tags: ['nav']
pagination:
  data: collections.commons
  size: 5
  alias: commons
paginationPrevText: 'Новіші'
paginationNextText: 'Старіші'
---

<h1>{{ title }}</h1>

{% set collection = collections.commons %}
{% include "collection-posts.njk" %}
