---
layout: layout.njk
title: Юмор
tags: ['nav']
pagination:
  data: collections.humors
  size: 5
  alias: humors
paginationPrevText: 'Новіші'
paginationNextText: 'Старіші'
---

<h1>{{ title }}</h1>

{% set collection = collections.humors %}
{% include "collection-humors.njk" %}
