---
layout: layout.njk
title: Юмор
tags: ['nav']
pagination:
  data: collections.humors
  reverse: true
  size: 5
  alias: humors
paginationPrevText: 'Новіші'
paginationNextText: 'Старіші'
---

<h1>{{ title }}</h1>

Моя колекція юмору. Я її збирав декілька років. <br>
Попередження: Є кілька записів російською.


{% set collection = collections.humors %}&nbsp;&nbsp;&nbsp;
{% include "collection-posts.njk" %}<br>
