    <div class="SBottomItem"><a href="/copyright.html">Інтелектуальна власність</a></div>
    <div class="SBottomItem">Зроблено Сергієм Шатнім у 2024 році з використанням Eleventy.</div>
    <div class="SBottomItem"><a href=mailto:kmserg@skupiy.biz.ua">Пишіть</a></div>
